
.ava {
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
	height: 300px;
    width: 210px;
    background-color: white;
}

.photoAva {
    height: 210px;
}

.friends {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
	height: 150px;
    background-color: white;
}